* {
    font-family: 'Sono', monospace;
}

.squares-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100svh;
    clip-path: polygon(0 0, 100% 0, 100% 54%, 0% 100%);
    transform: blur(3px);
}

.squares-pattern::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #fbfbfb 1px);

    mask-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.1) 20%,
        rgba(0, 0, 0, 0.05) 40%,
        rgba(0, 0, 0, 0.025) 60%,
        rgba(0, 0, 0, 0.0125) 80%,
        rgba(0, 0, 0, 0) 100%
    );
    background-size: 32px 32px;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
[data-bs-theme='dark'] .squares-pattern::after {
    background-image: linear-gradient(#47e76c 1px, transparent 1px), linear-gradient(to right, #47e76c 1px, #000000 1px);
}
.blur-card {
    border-radius: 100%/85%;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 64px 64px rgba(255, 255, 255, 0.75);
}
[data-bs-theme='dark'] .blur-card {
    background-color: rgba(34, 37, 41, 0.75);
    box-shadow: 0 0 64px 64px rgba(34, 37, 41, 0.75);
}

/* CSS */
.button-68 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button-68:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.35s;
}

.button-68:active {
    transform: translateY(2px);
    transition-duration: 0.35s;
}

.button-68:hover {
    box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}
.button-68.gh {
    background-color: #292c33;
    box-shadow: none;
}

.terminal-container {
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    inset: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}

.terminal-container .xterm {
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}

.terminal-container .xterm-viewport {
    flex: 1 !important;
}

.terminal-container .xterm-screen {
    width: 100% !important;
    height: 100% !important;
}

.xterm {
    padding: 20px;
}

.xterm-viewport {
}
